<mat-card class="mat-elevation-z8">
  <mat-card-title>Acceso</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()" >
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Usuario"
            formControlName="username"
            id='username'
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button
          type="submit"
          [disabled]="!form.valid"
          color="primary"
          mat-raised-button
        >
          Ingresar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
